nav {
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
  }

  .window-scroll {
    background: var(--color-bg1);
    box-shadow:0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  .nav__container {
    background-color: transparent;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav button {
    display: none;
  }

  .nav__menu {
    display: flex;
    align-items: center;
    gap: 4rem;
  }
  
  .nav__menu a {
    font-size: 1.1rem;
    transition: (--transition);
  }
  
  .nav__menu a:hover {
    color: var(--color-success);
  }